body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  width: 100%;
}

h1 {
  margin-right: 18em; /* Adds space between the title and slider */
}

.time-container {
  display: block;
  width: 100%;
}

.time-slider-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em; /* Space between label and slider */
}

#time-slider {
  flex-grow: 1; /* Expands the slider */
  width: 300px; /* Adjust as needed */
  max-width: 100%; /* Prevents overflow */
}

#any-time {
  color: grey;
  margin-bottom: 0em; /* Space between (any time) and actual time */
}

#selected-time {
  font-weight: bold;
}

.legend {
  width: 100%;
  display: flex;
  margin-block: 1em;
  gap: 1px;
  margin-bottom: 2em;
  div {
    flex: 1;
  }
}

.legend > div {
  flex: 1; /* Equal space for each legend item */
  padding: 0.5em 2em; /* More horizontal padding for balance */
  text-align: center; /* Center-align text */
  font-weight: bold;
  color: white; /* Ensuring sufficient contrast */
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background-color: var(--color);
}



