body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

#circles {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  circle {
    pointer-events: auto;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
    fill: var(--color);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  width: 100%;
}

h1 {
  margin-right: 18em; /* Adds space between the title and slider */
}

.time-container {
  display: block;
  width: 100%;
}

.time-slider-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em; /* Space between label and slider */
}

#time-slider {
  flex-grow: 1; /* Expands the slider */
  width: 300px; /* Adjust as needed */
  max-width: 100%; /* Prevents overflow */
}

#any-time {
  color: grey;
  margin-bottom: 0em; /* Space between (any time) and actual time */
}

#selected-time {
  font-weight: bold;
}



